.owl-prev, .owl-next {
    position: absolute;
    z-index: 11;
    top: 50%;
    left: -3%;
    height: 45px;
    width: 45px;
    line-height: 0.9;
    transform: translateY(-50%);
    border-radius: 50% !important;
    border: 1px solid $color-gray-3 !important;
    background: #fff !important;
    opacity: 1;
    background-color: #fff !important;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    span {
        @include text($color-blue, 24px , $fw-bold);
        padding: 0;
    }

    &:focus {
        outline: none;
    }
    
}

.owl-next {
    left: 97%;
}